{
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": ["^@(navigation|screens)/(.*)$", "^@components/(.*)$", "^@hooks/(.*)$", "^@models/(.*)$", "^@theme/(.*)$", "^[./]"],
  "importOrderSeparation": true
}
